<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <!--
      請至 https://auth.ischool.com.tw/1campus/manage/ 註冊App取得ClientID、ClientSecret (註冊時設定 Redirect Url)
    -->
    <add key="ClientId" value="*******************************"/>
    <add key="ClientSecret" value="**********************************************"/>
    <add key="RedirectURI" value="http://localhost:12284/OAuthCallBack.aspx"/>
    <add key="EntryPoint" value="http://localhost:12284/EntryPoint.aspx"/>
  </appSettings>

</configuration>
